<div class="message-created">
  <div class="message-created__text">
    <span>Collateral kind</span>
    <strong><%= @collateral_kind.kind %></strong>
    <span>was created</span>
  </div>
  <%= link_to 'Edit', edit_collateral_kind_path(@collateral_kind) %>
</div>

<button class="navigate-back">
  <%= link_to 'Back', tag_kinds_path %>
</button>
