<!-- <p id="notice"><%= notice %></p> -->

<p>Type: <%= @collateral_kind.kind %></p>

<%= link_to 'Edit', edit_collateral_kind_path(@collateral_kind) %> |
<%= link_to 'Back', collateral_kinds_path %>
