html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14px;
}
