<h1>Configuration Panel</h1>

<ul class="configuration-panel">
  <li class="configuration-panel__single-item">
    <%= link_to "Tags →", tags_path %>
  </li>
  <li class="configuration-panel__single-item">
    <%= link_to "Tag kinds →", tag_kinds_path %>
  </li>
  <li class="configuration-panel__single-item">
    <%= link_to "Collateral kinds →", collateral_kinds_path %>
  </li>
</ul>


<button class="navigate-back">
  <%= link_to '← Back', root_path %>
</button>
