<div class="message-created">
  <div class="message-created__text">
    <span>Tag</span>
    <strong><%= @tag.tag_kind.kind %>: <%= @tag.name %></strong>
    <span>was created</span>
  </div>
  <%= link_to 'Edit', edit_tag_path(@tag) %>
</div>

<button class="navigate-back">
  <%= link_to 'â† Back', tags_path %>
</button>
