.configuration-panel {
  font-size: 15px;

  &__single-item {
    margin: $m-sm 0;
  }
}

.submit-button {
  margin-top: $m-lg;

  input {
    text-decoration: none;
    color: white;
    background-color: #123456;
    &:hover {
      color: white;
      background-color: #12345650
    }
  }
}

.form-wrapper {
  background-color: rgba(173, 216, 230, 0.2);
  padding: $m-md $m-base;
  border-radius: $m-sm;
}

.single-input {
  background-color: white;
}

.message-created {
  background-color: rgba(173, 216, 230, 0.2);
  padding: $m-md $m-lg $m-sm;
  border-radius: $m-sm;
  text-align: end;
  font-size: 16px;

  &__text {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  strong {
    background-color: #123456;
    color: white;
    border-radius: $m-sm;
    padding: $m-sm;
    margin: 0 $m-sm;
  }
}
