.navbar {
  background-color: #12345615;
  padding: $m-base;
  
  &__items {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
  }
  
  &__single-item {
    a {
      color: black;
      text-decoration: none;
    }
  }
}
